.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}

.brand-logo {
    font-family: 'Poiret One', cursive;
}

body {
    font-family: 'Poiret One', cursive;
}

.orange-text {
    color:orangered;
}

.jumbotron {
    height: 300px;
    background-image : url('../images/food-display.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.jumbatron-overlay {
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.jumbatron-content {
    z-index: 2;
    text-align: center;
    font-weight: bolder;
}

.three-across {
    padding-top: 40px;
    padding-bottom: 40px;
}

.three-across i {
    font-size: xx-large;
}

/*--------------------- Cards --------------------*/

.card {
    height: 500px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

/*cuisine cards*/
.card.cuisine-card {
    height: 200px;
}

.card-image-url {
    height: 175px;
}

/*Hidden code displayed on colour top on card*/
.image-url {
    display: none;
}

.card-preview {
  padding: 4px 0 4px 0;
}

/*Default image if no image URL is supplied*/
.holding-image {
    background-image : url('../images/food-display.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media only screen and (min-width: 1000px)  {
#add-card {
    width: 25vw;
    margin-left: 36.5vw;
}
}

.meal-title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.meal-list {
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.page-footer {
    background-color: #eceff1;
    border-top: 2px solid #acddd7;
    color: #3e3d43;
    position:fixed;
    bottom:0;
    width: 100vw;
    height: 10vh;
       
}

.footer-title {
    font-family: "Poiret One", cursive;
    color: #097670;
    
    
}

.social-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social-links a i {
    font-size: xx-large;
    color: #097670;
}

#body {
    padding:10px;
    padding-bottom:60px;   /* Height of the footer */
 }
