
/*-Styling for hover on buttons-*/
.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}

.brand-logo {
    font-family: 'Poiret One', cursive;
}

body {
    font-family: 'Poiret One', cursive;
}

.orange-text {
    color:orangered;
}
/* Styling for jumbotron */
.jumbotron {
    height: 300px;
    background-image : url('../images/food-display.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.jumbatron-overlay {
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.jumbatron-content {
    z-index: 2;
    text-align: center;
    font-weight: bolder;
}

.three-across {
    padding-top: 20px;
   
}

.three-across i {
    font-size: xx-large;
}

/*--------------------- Cards Styling --------------------*/

.card {
    height: 500px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.recipe-image {
    height: 200px;
    object-fit: cover;
       
}

.card-preview {
  padding: 4px 0 4px 0;
}
/* Media queries to display cards on bigger screens */
@media only screen and (min-width: 1000px)  {
#add-card {
    width: 25vw;
    margin-left: 36.5vw;
    font-family: 'Edu NSW ACT Foundation', cursive;
}
#edit-card {
    width: 25vw;
    margin-left: 36.5vw;
}
}

.meal-title {
    font-family: 'Edu NSW ACT Foundation', cursive;
}

.meal-list {
    text-align: left;
    font-family: 'Edu NSW ACT Foundation', cursive;
}

.collection {
    font-family: 'Edu NSW ACT Foundation', cursive;
}

.card-title {
    font-weight: bolder; 
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .page-footer {
    background-color: rgb(148, 163, 163);
    
  }
  
/*Footer styling */

 .fa-brands {
    color:antiquewhite;
    
 }

h6 {
    text-align: center;
}

.string-to-array ul:not(.browser-default)>li {
    list-style-type: circle;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  
  .string-to-array ul:not(.browser-default) {
    padding-left: 40px;
  }
  
  ol li {
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .string-to-array ul:not(.browser-default)>li {
    list-style-type: circle;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  
  .string-to-array ul:not(.browser-default) {
    padding-left: 40px;
  }
  
  ol li {
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .recipe-buttons {
    margin-top: auto;
    text-align: center;
    padding-bottom: 10px;
}

.btn-floating:hover,
.btn-black,
.gather-colour:hover {
    background-color: #3e3d43;
}

.full-width {
    width: 100%;
}

.icon-padding {
    padding-left: 4px;
}

.icon-padding-right {
    padding-right: 4px;
}

#recipe_ingredients {
    white-space: pre-wrap;
}

#recipe_instructions {
    white-space: pre-wrap;
}

.soon {
    font-size: xx-large;
    text-align: center;
}

.page-subtitle, .page-title-responsive {
    font-family: 'Edu NSW ACT Foundation', cursive;
}

.btn {
    font-family: 'Poiret One' !important;
}

.index-text {
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-weight: 400;
    font-size:x-large;
    text-align: center;
    margin-top: 40px;
}

.card-reveal {
    font-family: 'Edu NSW ACT Foundation', cursive;
}