{% extends "base.html" %} 
{% block content %}

<div class="jumbotron" title="Westhill Fitness - Shred">
    <div class="jumbatron-overlay"></div>
    <div class="jumbatron-content">
        <h2 class="page-title-responsive">The Shred Recipes</h2>
        <h3 class="page-subtitle">food plans and shopping lists</h3>
        {% if session.user %}
        <a href="{{ url_for('get_recipes') }}" class="btn waves-effect waves-light gather-colour btn-large">View recipes in the shred meal plan</a>
        {% else %}
        <a href="{{ url_for('register') }}" class="btn waves-effect waves-light gather-colour btn-large">Get Started</a>
        {% endif %}
    </div>
</div>

<div class="container">
        <div class="row three-across">
            <div class="col s12 m6 l4 center-align">
                <div class="card-panel">
                <i class="fa-solid fa-cart-shopping orange-text" aria-hidden="true"></i>
                <h4 class="page-title orange-text">Shopping List</h4>
                <p>Get your shopping lists so you're ready to go!</p>
                {% if session.user %}
                    <a href="{{ url_for('shopping_lists') }}" class="btn waves-effect waves-light gather-colour">Shopping Lists</a>
                {% endif %}
                </div>
            </div>
            <div class="col s12 m6 l4 center-align">
                <div class="card-panel">
                <i class="fa-solid fa-kitchen-set orange-text" aria-hidden="true"></i>
                <h4 class="page-title orange-text">See Meal Plans</h4>
                <p>View the two week meal plan for the shred</p>
                {% if session.user %}
                    <a href="{{ url_for('meal_plans') }}" class="btn waves-effect waves-light gather-colour">Browse Meal Plans</a>
                {% endif %}
            </div>
            </div>
            <div class="col s12 m12 l4 center-align">
                <div class="card-panel">
                <i class="fa-regular fa-square-plus orange-text" aria-hidden="true"></i>
                <h4 class="page-title orange-text">Contribute</h4>
                <p>Contribute Recipes for our next shred</p>
                {% if session.user %}
                <a href="{{ url_for('get_recipes') }}" class="btn waves-effect waves-light gather-colour">Contribute and see submitted Recipes</a>
                {% endif %}
            </div>
            </div>
    </div>

   
{% endblock %}