{% extends "base.html" %} 
{% block content %}

<div class="jumbotron" title="Westhill Fitness - Shred">
    <div class="jumbatron-overlay"></div>
    <div class="jumbatron-content">
        <h2 class="page-title-responsive">Westhill Fitness Fortnight-Shred</h2>
        <h3 class="page-subtitle">Meal plans, shopping lists and recipes</h3>
        {% if session.user %}
        <a href="{{ url_for('get_recipes') }}" class="btn waves-effect waves-light gather-colour btn-large">View recipes in the shred meal plan</a>
        {% else %}
        <a href="{{ url_for('register') }}" class="btn waves-effect waves-light gather-colour btn-large">Get Started</a>
        {% endif %}
    </div>
</div>



<div class="container">
    <div><p class="index-text">Welcome to the Westhill Fitness two-week Shred. Whether you're wanting to lose weight or get back on track, our two-week shred is an excellent place to start. It's guaranteed to have you looking slimmer and feeling better in yourself.
        The shred works best when combined with our exercise classes and morning bootcamps but you'll feel better in yourself regardless. Please ensure you have your shopping list items in time for the start of the shred. <br><br>
        Remember - you can contribute recipes for our next shred - if your recipe is chosen, you will be rewarded with a weeks free bootcamp sessions!
    </p></div>
        <div class="row three-across">
            <div class="col s12 m6 l4 center-align">
                <div class="card-panel">
                <i class="fa-solid fa-cart-shopping orange-text" aria-hidden="true"></i>
                <h4 class="page-title orange-text">Shopping List</h4>
                <p>Get your shopping lists so you're ready to go!</p>
                {% if session.user %}
                    <a href="{{ url_for('shopping_lists') }}" class="btn waves-effect waves-light gather-colour">Shopping Lists</a>
                {% endif %}
                </div>
            </div>
            <div class="col s12 m6 l4 center-align">
                <div class="card-panel">
                <i class="fa-solid fa-kitchen-set orange-text" aria-hidden="true"></i>
                <h4 class="page-title orange-text">See Meal Plans</h4>
                <p>View the two week meal plan for the shred</p>
                {% if session.user %}
                    <a href="{{ url_for('meal_plans') }}" class="btn waves-effect waves-light gather-colour">Browse Meal Plans</a>
                {% endif %}
            </div>
            </div>
            <div class="col s12 m12 l4 center-align">
                <div class="card-panel">
                <i class="fa-regular fa-square-plus orange-text" aria-hidden="true"></i>
                <h4 class="page-title orange-text">Contribute</h4>
                <p>Contribute Recipes for our next shred</p>
                {% if session.user %}
                <a href="{{ url_for('get_recipes') }}" class="btn waves-effect waves-light gather-colour">Contribute and see Current Recipes</a>
                {% endif %}
            </div>
            </div>
    </div>
       
{% endblock %}