{% extends "base.html" %} 
{% block content %}

<!--closing div to close container on base template and allow full width jumbatron-->
</div>

<div class="jumbotron" title="Westhill Fitness - Shred">
    <div class="jumbatron-overlay"></div>
    <div class="jumbatron-content">
        <h2 class="page-title-responsive">The Shred Recipes</h2>
        <h3 class="page-subtitle">food plans and shopping lists</h3>
        {% if session.user %}
        <a href="{{ url_for('get_recipes') }}" class="btn waves-effect waves-light gather-colour btn-large">View recipes in the shred meal plan</a>
        {% else %}
        <a href="{{ url_for('register') }}" class="btn waves-effect waves-light gather-colour btn-large">Get Started</a>
        {% endif %}
    </div>
</div>

<div class="container">
        <div class="row three-across">
            <div class="col s12 m6 l4 center-align">
                <div class="card-panel">
                <i class="fa-solid fa-layer-group gather-red-text" aria-hidden="true"></i>
                <h4 class="page-title gather-red-text">Shopping List</h4>
                <p>Get your shopping lists</p>
                {% if session.user %}
                    <a href="{{ url_for('shopping_lists') }}" class="btn waves-effect waves-light gather-colour">Shopping Lists</a>
                {% endif %}
                </div>
            </div>
            <div class="col s12 m6 l4 center-align">
                <div class="card-panel">
                <i class="fa-solid fa-users gather-red-text" aria-hidden="true"></i>
                <h4 class="page-title gather-red-text">Discover</h4>
                <p>View the two week meal plan for the shred</p>
                {% if session.user %}
                    <a href="{{ url_for('get_recipes') }}" class="btn waves-effect waves-light gather-colour">Browse Food Plans</a>
                {% endif %}
            </div>
            </div>
            <div class="col s12 m12 l4 center-align">
                <div class="card-panel">
                <i class="fa-solid fa-star gather-red-text" aria-hidden="true"></i>
                <h4 class="page-title gather-red-text">Save</h4>
                <p>Contribute Recipes for our next shred</p>
                {% if session.user %}
                <a href="{{ url_for('recipes') }}" class="btn waves-effect waves-light gather-colour">Contribute and see submitted Recipes</a>
                {% endif %}
            </div>
            </div>
    </div>
   
{% endblock %}