{% extends "base.html" %}
{% block content %}


<div class="container">
    <div class="row two-across">
        <div class="col s12 m6 center-align">
            <div class="card-panel">
            <i class="fa-solid fa-cart-shopping orange-text" aria-hidden="true"></i>
            <h4 class="page-title orange-text">Week One Meal Plan</h4>
            <ul class="collection">
                <li class="collection-item avatar">
                    <i class="material-icons circle green">Mon</i>
                    <table class="meal-title">
                       <tr>
                          <td><b>Breakfast</b></td>
                          <td>Banana overnight oats</td>
                          <td>557(kcal)</td>
                        </tr>
                        <tr>
                          <td><b>Snack</b></td>
                          <td>Apple</td>
                          <td>57(kcal)</td>
                        </tr>
                        <tr>
                          <td><b>Lunch</b></td>
                          <td>Ham & Mushroom Frittata</td>
                          <td>226(kcal)</td>
                        </tr>
                        <tr>
                          <td><b>Snack</b></td>
                          <td>Chocolate energy ball</td>
                          <td>99(kcal)</td>
                        </tr>
                        <tr>
                          <td><b>Dinner</b></td>
                          <td>Chicken Parmigiana</td>
                          <td>527(kcal)</td>
                        </tr>
                       </table>
                 </li>
                <li class="collection-item avatar">
                  <i class="material-icons circle brown">Tues</i>
                  <table class="meal-title">
                      <tr>
                      <td><b>Breakfast</b></td>
                      <td>Banana overnight oats</td>
                      <td>557(kcal)</td>
                    </tr>
                    <tr>
                      <td><b>Snack</b></td>
                      <td>Banana</td>
                      <td>105(kcal)</td>
                    </tr>
                    <tr>
                      <td><b>Lunch</b></td>
                      <td>Chicken Parmigiana</td>
                      <td>527(kcal)</td>
                    </tr>
                    <tr>
                      <td><b>Snack</b></td>
                      <td>Chocolate energy ball</td>
                      <td>99(kcal)</td>
                    </tr>
                    <tr>
                      <td><b>Dinner</b></td>
                      <td>Thai Pork & Peanut Curry</td>
                      <td>338(kcal)</td>
                    </tr>
                   </table>
                  </li>
                <li class="collection-item avatar">
                  <i class="material-icons circle orange">Wed</i>
                  <table class="meal-title">
                    <tr>
                    <td><b>Breakfast</b></td>
                    <td>Banana overnight oats</td>
                    <td>557(kcal)</td>
                  </tr>
                  <tr>
                    <td><b>Snack</b></td>
                    <td>Orange</td>
                    <td>47(kcal)</td>
                  </tr>
                  <tr>
                    <td><b>Lunch</b></td>
                    <td>Thai Pork & Peanut Curry</td>
                    <td>338(kcal)</td>
                  </tr>
                  <tr>
                    <td><b>Snack</b></td>
                    <td>Chocolate energy ball</td>
                    <td>99(kcal)</td>
                  </tr>
                  <tr>
                    <td><b>Dinner</b></td>
                    <td>Spiced Salmon Traybake</td>
                    <td>796(kcal)</td>
                  </tr>
                 </table>
                    
                  </li>
                  <li class="collection-item avatar">
                    <i class="material-icons circle blue">Thurs</i>
                    <table class="meal-title">
                        <tr>
                        <td><b>Breakfast</b></td>
                        <td>Banana overnight oats</td>
                        <td>557(kcal)</td>
                      </tr>
                      <tr>
                        <td><b>Snack</b></td>
                        <td>Apple</td>
                        <td>52(kcal)</td>
                      </tr>
                      <tr>
                        <td><b>Lunch</b></td>
                        <td>Spice Salmon Traybake</td>
                        <td>796(kcal)</td>
                      </tr>
                      <tr>
                        <td><b>Snack</b></td>
                        <td>Chocolate energy ball</td>
                        <td>99(kcal)</td>
                      </tr>
                      <tr>
                        <td><b>Dinner</b></td>
                        <td>Creamy Tomato Risotto</td>
                        <td>381(kcal)</td>
                      </tr>
                     </table>
                    
                  </li>
                  <li class="collection-item avatar">
                    <i class="material-icons circle red">Fri</i>
                    <table class="meal-title">
                        <tr>
                        <td><b>Breakfast</b></td>
                        <td>Banana overnight oats</td>
                        <td>557(kcal)</td>
                      </tr>
                      <tr>
                        <td><b>Snack</b></td>
                        <td>Orange</td>
                        <td>47(kcal)</td>
                      </tr>
                      <tr>
                        <td><b>Lunch</b></td>
                        <td>Creamy Tomato Risotto</td>
                        <td>381(kcal)</td>
                      </tr>
                      <tr>
                        <td><b>Snack</b></td>
                        <td>Chocolate energy ball</td>
                        <td>99(kcal)</td>
                      </tr>
                      <tr>
                        <td><b>Dinner</b></td>
                        <td>Chicken & Halloumi Burger</td>
                        <td>737(kcal)</td>
                      </tr>
                     </table>
                  </li>
                  <li class="collection-item avatar">
                    <i class="material-icons circle purple">Sat</i>
                    <table class="meal-title">
                        <tr>
                        <td><b>Breakfast</b></td>
                        <td>Huevos Rancheros</td>
                        <td>682(kcal)</td>
                      </tr>
                      <tr>
                        <td><b>Snack</b></td>
                        <td>Banana</td>
                        <td>105(kcal)</td>
                      </tr>
                      <tr>
                        <td><b>Lunch</b></td>
                        <td>Chicken & Halloumi Burger</td>
                        <td>737(kcal)</td>
                      </tr>
                      <tr>
                        <td><b>Snack</b></td>
                        <td>Chocolate energy ball</td>
                        <td>99(kcal)</td>
                      </tr>
                      <tr>
                        <td><b>Dinner</b></td>
                        <td>Chicken Katsu Curry</td>
                        <td>264(kcal)</td>
                      </tr>
                     </table>
                  </li>
                  <li class="collection-item avatar">
                    <i class="material-icons circle yellow">Sun</i>
                    <table class="meal-title">
                        <tr>
                        <td><b>Breakfast</b></td>
                        <td>Huevos Rancheros</td>
                        <td>682(kcal)</td>
                      </tr>
                      <tr>
                        <td><b>Snack</b></td>
                        <td>Apple</td>
                        <td>52(kcal)</td>
                      </tr>
                      <tr>
                        <td><b>Lunch</b></td>
                        <td>Chicken Katsu Curry</td>
                        <td>264(kcal)</td>
                      </tr>
                      <tr>
                        <td><b>Snack</b></td>
                        <td>Chocolate energy ball</td>
                        <td>99(kcal)</td>
                      </tr>
                      <tr>
                        <td><b>Dinner</b></td>
                        <td>Chorizo & Mozarella Gnocchi</td>
                        <td>338(kcal)</td>
                      </tr>
                     </table>
                  </li>
              </ul>
            </div>
        </div>
        <div class="col s12 m6 center-align">
            <div class="card-panel">
            <i class="fa-solid fa-kitchen-set orange-text" aria-hidden="true"></i>
            <h4 class="page-title orange-text">Week Two Meal Plan</h4>
            <ul class="collection">
                <li class="collection-item avatar">
                    <i class="material-icons circle green">Mon</i>
                    <table class="meal-title">
                       <tr>
                          <td><b>Breakfast</b></td>
                          <td>Carrot Cake Overnight Oats</td>
                          <td>319(kcal)</td>
                        </tr>
                        <tr>
                          <td><b>Snack</b></td>
                          <td>Apple</td>
                          <td>57(kcal)</td>
                        </tr>
                        <tr>
                          <td><b>Lunch</b></td>
                          <td>Chorizo & Mozarella Gnocchi</td>
                        <td>338(kcal)</td>
                        </tr>
                        <tr>
                          <td><b>Snack</b></td>
                          <td>Healthy Cookie</td>
                          <td>86(kcal)</td>
                        </tr>
                        <tr>
                          <td><b>Dinner</b></td>
                          <td>Healthy egg & chips</td>
                          <td>218(kcal)</td>
                        </tr>
                       </table>
                 </li>
                <li class="collection-item avatar">
                  <i class="material-icons circle brown">Tues</i>
                  <table class="meal-title">
                      <tr>
                      <td><b>Breakfast</b></td>
                      <td>Carrot Cake Overnight Oats</td>
                          <td>319(kcal)</td>
                    </tr>
                    <tr>
                      <td><b>Snack</b></td>
                      <td>Banana</td>
                      <td>105(kcal)</td>
                    </tr>
                    <tr>
                      <td><b>Lunch</b></td>
                      <td>Healthy egg & chips</td>
                          <td>218(kcal)</td>
                    </tr>
                    <tr>
                      <td><b>Snack</b></td>
                      <td>Healthy Cookie</td>
                          <td>86(kcal)</td>
                    </tr>
                    <tr>
                      <td><b>Dinner</b></td>
                      <td>Pad Thai</td>
                      <td>405(kcal)</td>
                    </tr>
                   </table>
                  </li>
                <li class="collection-item avatar">
                  <i class="material-icons circle orange">Wed</i>
                  <table class="meal-title">
                    <tr>
                    <td><b>Breakfast</b></td>
                    <td>Carrot Cake Overnight Oats</td>
                          <td>319(kcal)</td>
                  </tr>
                  <tr>
                    <td><b>Snack</b></td>
                    <td>Orange</td>
                    <td>47(kcal)</td>
                  </tr>
                  <tr>
                    <td><b>Lunch</b></td>
                    <td>Thai Pork & Peanut Curry</td>
                    <td>338(kcal)</td>
                  </tr>
                  <tr>
                    <td><b>Snack</b></td>
                    <td>Healthy Cookie</td>
                          <td>86(kcal)</td>
                  </tr>
                  <tr>
                    <td><b>Dinner</b></td>
                    <td>Curried Chicken Potato Traybake</td>
                      <td>410(kcal)</td>
                  </tr>
                 </table>
                    
                  </li>
                  <li class="collection-item avatar">
                    <i class="material-icons circle blue">Thurs</i>
                    <table class="meal-title">
                        <tr>
                        <td><b>Breakfast</b></td>
                        <td>Carrot Cake Overnight Oats</td>
                          <td>319(kcal)</td>
                      </tr>
                      <tr>
                        <td><b>Snack</b></td>
                        <td>Apple</td>
                        <td>52(kcal)</td>
                      </tr>
                      <tr>
                        <td><b>Lunch</b></td>
                        <td>Curried Chicken Potato Traybake</td>
                      <td>410(kcal)</td>
                      </tr>
                      <tr>
                        <td><b>Snack</b></td>
                        <td>Healthy Cookie</td>
                          <td>86(kcal)</td>
                      </tr>
                      <tr>
                        <td><b>Dinner</b></td>
                        <td>Easy Turkey Burgers</td>
                        <td>179(kcal)</td>
                      </tr>
                     </table>
                    
                  </li>
                  <li class="collection-item avatar">
                    <i class="material-icons circle red">Fri</i>
                    <table class="meal-title">
                        <tr>
                        <td><b>Breakfast</b></td>
                        <td>Carrot Cake Overnight Oats</td>
                          <td>319(kcal)</td>
                      </tr>
                      <tr>
                        <td><b>Snack</b></td>
                        <td>Orange</td>
                        <td>47(kcal)</td>
                      </tr>
                      <tr>
                        <td><b>Lunch</b></td>
                        <td>Easy Turkey Burgers</td>
                        <td>179(kcal)</td>
                      </tr>
                      <tr>
                        <td><b>Snack</b></td>
                        <td>Healthy Cookie</td>
                          <td>86(kcal)</td>
                      </tr>
                      <tr>
                        <td><b>Dinner</b></td>
                        <td>Tortilla Pizza</td>
                        <td>266(kcal)</td>
                      </tr>
                     </table>
                  </li>
                  <li class="collection-item avatar">
                    <i class="material-icons circle purple">Sat</i>
                    <table class="meal-title">
                        <tr>
                        <td><b>Breakfast</b></td>
                        <td>Smashed Avocado Toast</td>
                        <td>501(kcal)</td>
                      </tr>
                      <tr>
                        <td><b>Snack</b></td>
                        <td>Banana</td>
                        <td>105(kcal)</td>
                      </tr>
                      <tr>
                        <td><b>Lunch</b></td>
                        <td>Tortilla Pizza</td>
                        <td>266(kcal)</td>
                      </tr>
                      <tr>
                        <td><b>Snack</b></td>
                        <td>Healthy Cookie</td>
                          <td>86(kcal)</td>
                      </tr>
                      <tr>
                        <td><b>Dinner</b></td>
                        <td>Chicken Satay Strips</td>
                        <td>276(kcal)</td>
                      </tr>
                     </table>
                  </li>
                  <li class="collection-item avatar">
                    <i class="material-icons circle yellow">Sun</i>
                    <table class="meal-title">
                        <tr>
                        <td><b>Breakfast</b></td>
                        <td>Smashed Avocado Toast</td>
                        <td>501(kcal)</td>
                      </tr>
                      <tr>
                        <td><b>Snack</b></td>
                        <td>Apple</td>
                        <td>52(kcal)</td>
                      </tr>
                      <tr>
                        <td><b>Lunch</b></td>
                        <td>Chicken Satay Strips</td>
                        <td>276(kcal)</td>
                      </tr>
                      <tr>
                        <td><b>Snack</b></td>
                        <td>Chocolate energy ball</td>
                        <td>99(kcal)</td>
                      </tr>
                      <tr>
                        <td><b>Dinner</b></td>
                        <td>Sweet Potato & Chicken Curry</td>
                        <td>281(kcal)</td>
                      </tr>
                     </table>
                  </li>
              </ul>
            
        </div>
        </div>


{% endblock %}