{% extends "base.html" %}
{% block content %}


<div class="container">
    <div class="row two-across">
        <div class="col s12 m6 center-align">
            <div class="card-panel">
            <i class="fa-solid fa-cart-shopping orange-text" aria-hidden="true"></i>
            <h4 class="page-title orange-text">Week One Shopping List</h4>
            <ul class="collection">
                <li class="collection-item avatar">
                    <i class="material-icons circle green">Fruit</i>
                  <p>7 Bananas <br>
                     3 Apples <br>
                     3 Oranges <br>
                     2 Limes <br>
                     1 Lemon <br>
                  </p>
                 </li>
                <li class="collection-item avatar">
                  <i class="material-icons circle brown">Veg</i>
                  <p>40g Chestnut Mushrooms <br>
                     40g baby spinach <br>
                     1 ripe avocado <br>
                     1 Bunch of spring onions <br>
                     90g baby corn <br>
                     1 red onion <br>
                     350g cherry tomatoes <br>
                     2 onions <br>
                     1 white cabbage <br>
                     1 pack of salad leaves <br>
                     1 bag of frozen peas <br>
                  </p>
                  </li>
                <li class="collection-item avatar">
                  <i class="material-icons circle orange">Meats</i>
                  <p>25g ham <br>
                     4 large chicken breasts <br>
                     200g pork tenderloin <br>
                     40g chorizo <br>
                     2 salmon fillets <br>
                  </p>
                </li>
                <li class="collection-item avatar">
                  <i class="material-icons circle blue">Fridge</i>
                  <p>3 eggs <br>
                     750ml milk <br>
                     2 tbsp natural yoghurt <br>
                     1 tablespoon of grated cheese <br>
                     25g feta cheese <br>
                     55g paremsan cheese <br>
                     85g ball of mozarella cheese <br>
                     knob of butter <br>
                     125g block of halloumi <br>

                  </p>
                  
                </li>
                <li class="collection-item avatar">
                    <i class="material-icons circle red">Misc.</i>
                    <p>275g oats <br>
                       5 tbsp chopped almonds <br>
                       1 tsp caster sugar <br>
                       1 tbsp soft brown sugar <br>
                       1 tsp cornflour <br>
                       1 tsp dried oregano <br>
                       1 tsp curry powder <br>
                       1 tsp turmeric <br>
                       1 tsp ground ginger <br>
                       3 tbsp olive oil <br>
                       3 tbsp vegetable/sunflower oil  <br>
                       3 tbsp maple syrup <br>

                    </p>
                    
                  </li>
              </ul>
            </div>
        </div>
        <div class="col s12 m6 center-align">
            <div class="card-panel">
            <i class="fa-solid fa-kitchen-set orange-text" aria-hidden="true"></i>
            <h4 class="page-title orange-text">Week Two Shopping List</h4>
            <ul class="collection">
                 <li class="collection-item avatar">
                    <i class="material-icons circle green">Fruit</i>
                  <p>7 Bananas <br>
                     3 Apples <br>
                     3 Oranges <br>
                     2 Limes <br>
                     1 Lemon <br>
                  </p>
                 </li>
                <li class="collection-item avatar">
                  <i class="material-icons circle brown">Veg</i>
                  <p>40g Chestnut Mushrooms <br>
                     40g baby spinach <br>
                     1 ripe avocado <br>
                     1 Bunch of spring onions <br>
                     90g baby corn <br>
                     1 red onion <br>
                     350g cherry tomatoes <br>
                     2 onions <br>
                     1 white cabbage <br>
                     1 pack of salad leaves <br>
                     1 bag of frozen peas <br>
                  </p>
                  </li>
                <li class="collection-item avatar">
                  <i class="material-icons circle orange">Meats</i>
                  <p>25g ham <br>
                     4 large chicken breasts <br>
                     200g pork tenderloin <br>
                     40g chorizo <br>
                     2 salmon fillets <br>
                  </p>
                </li>
                <li class="collection-item avatar">
                  <i class="material-icons circle blue">Fridge</i>
                  <p>3 eggs <br>
                     750ml milk <br>
                     2 tbsp natural yoghurt <br>
                     1 tablespoon of grated cheese <br>
                     25g feta cheese <br>
                     55g paremsan cheese <br>
                     85g ball of mozarella cheese <br>
                     knob of butter <br>
                     125g block of halloumi <br>

                  </p>
                  
                </li>
                <li class="collection-item avatar">
                    <i class="material-icons circle red">Misc.</i>
                    <p>275g oats <br>
                       5 tbsp chopped almonds <br>
                       1 tsp caster sugar <br>
                       1 tbsp soft brown sugar <br>
                       1 tsp cornflour <br>
                       1 tsp dried oregano <br>
                       1 tsp curry powder <br>
                       1 tsp turmeric <br>
                       1 tsp ground ginger <br>
                       3 tbsp olive oil <br>
                       3 tbsp vegetable/sunflower oil  <br>
                       3 tbsp maple syrup <br>

                    </p>
                    
                  </li>
              </ul>
            
        </div>
        </div>


{% endblock %}