{% extends "base.html" %}
{% block content %}


<div class="container">
    <div class="row two-across">
        <div class="col s12 m6 center-align">
            <div class="card-panel">
            <i class="fa-solid fa-cart-shopping orange-text" aria-hidden="true"></i>
            <h4 class="page-title orange-text">Week One Shopping List</h4>
            <ul class="collection">
                <li class="collection-item avatar">
                    <i class="material-icons circle green">Fruit</i>
                  <p>7 Bananas <br>
                     3 Apples <br>
                     3 Oranges <br>
                     2 Limes <br>
                     1 Lemon <br>
                  </p>
                 </li>
                <li class="collection-item avatar">
                  <i class="material-icons circle">Veg</i>
                  <span class="title">Title</span>
                  <p>First Line <br>
                     Second Line
                  </p>
                  <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                </li>
                <li class="collection-item avatar">
                  <i class="material-icons circle green">Meats</i>
                  <span class="title">Title</span>
                  <p>First Line <br>
                     Second Line
                  </p>
                  <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                </li>
                <li class="collection-item avatar">
                  <i class="material-icons circle red">Fridge</i>
                  <span class="title">Title</span>
                  <p>First Line <br>
                     Second Line
                  </p>
                  <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                </li>
                <li class="collection-item avatar">
                    <i class="material-icons circle red">Misc.</i>
                    <span class="title">Title</span>
                    <p>First Line <br>
                       Second Line
                    </p>
                    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                  </li>
              </ul>
            </div>
        </div>
        <div class="col s12 m6 center-align">
            <div class="card-panel">
            <i class="fa-solid fa-kitchen-set orange-text" aria-hidden="true"></i>
            <h4 class="page-title orange-text">Week Two Shopping List</h4>
            <ul class="collection">
                <li class="collection-item avatar">
                    <i class="material-icons circle green">Fruit</i>
                  <span class="title">Fruits</span>
                  <p>7 Bananas <br>
                     3 Apples
                     3 Oranges
                     2 Limes
                     1 Lemon
                  </p>
                 </li>
                <li class="collection-item avatar">
                  <i class="material-icons circle">Veg</i>
                  <span class="title">Title</span>
                  <p>First Line <br>
                     Second Line
                  </p>
                  <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                </li>
                <li class="collection-item avatar">
                  <i class="material-icons circle green">Meats</i>
                  <span class="title">Title</span>
                  <p>First Line <br>
                     Second Line
                  </p>
                  <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                </li>
                <li class="collection-item avatar">
                  <i class="material-icons circle red">Fridge</i>
                  <span class="title">Title</span>
                  <p>First Line <br>
                     Second Line
                  </p>
                  <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                </li>
                <li class="collection-item avatar">
                    <i class="material-icons circle red">Misc.</i>
                    <span class="title">Title</span>
                    <p>First Line <br>
                       Second Line
                    </p>
                    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                  </li>
              </ul>
            
        </div>
        </div>


{% endblock %}